<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lichess leaderboart</title>
    <link rel="stylesheet" type="text/css" href="liderboart_style.css">
</head>
<body>
    <h2>Lishess liderboart</h2>
    <table style="width:100%" border-collapse: collapse>
        <tr>
            <th> game_id </th>
            <th> date </th>
            <th> game_speed </th>
            <th> rating </th>
            <th> ratingDiff </th>
            <th> clocks_mean </th>
            <th> clocks_std </th>
            <th> clocks_median </th>
            <th> time_control </th>
            <th> user_id </th>
            <th> mistake </th>
            <th> blunder </th>
            <th> inaccuracy </th>
            <th> acpl </th>
        <tr>

        
        <tr>
            <td>GavkMjMj</td>
            <td>2023-03-05 07:58:46.540000+00:00</td>
            <td>classical</td>
            <td>2403</td>
            <td>8</td>
            <td>20.625</td>
            <td>3.268411126269549</td>
            <td>20.26</td>
            <td>30+20</td>
            <td>li_be</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>9</td>
        </tr>
        
        <tr>
            <td>cf58ISck</td>
            <td>2023-03-05 07:10:21.940000+00:00</td>
            <td>classical</td>
            <td>2395</td>
            <td>8</td>
            <td>20.64516129032258</td>
            <td>2.285927501885811</td>
            <td>19.880000000000003</td>
            <td>30+20</td>
            <td>li_be</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
        </tr>
        
        <tr>
            <td>khHSMqvU</td>
            <td>2023-03-05 06:42:43.994000+00:00</td>
            <td>classical</td>
            <td>2382</td>
            <td>13</td>
            <td>4.905090909090909</td>
            <td>10.863147521903798</td>
            <td>0.0599999999999987</td>
            <td>30+0</td>
            <td>li_be</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>20</td>
        </tr>
        
        <tr>
            <td>9IycSd2v</td>
            <td>2023-03-04 16:37:17.430000+00:00</td>
            <td>classical</td>
            <td>2372</td>
            <td>10</td>
            <td>1.0286688311688312</td>
            <td>2.631327941265217</td>
            <td>0.4099999999999999</td>
            <td>30+0</td>
            <td>li_be</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>15</td>
        </tr>
        
        <tr>
            <td>9jwa6UK8</td>
            <td>2023-03-04 13:04:58.659000+00:00</td>
            <td>classical</td>
            <td>2349</td>
            <td>12</td>
            <td>2.838157894736842</td>
            <td>6.862364505522</td>
            <td>0.2300000000000004</td>
            <td>30+0</td>
            <td>li_be</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>bKVuCL47</td>
            <td>2023-03-04 11:30:38.334000+00:00</td>
            <td>classical</td>
            <td>2335</td>
            <td>14</td>
            <td>2.2988666666666666</td>
            <td>6.654841549495291</td>
            <td>0.2300000000000004</td>
            <td>30+0</td>
            <td>li_be</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>9joCSaQO</td>
            <td>2023-03-04 10:10:43.100000+00:00</td>
            <td>classical</td>
            <td>2320</td>
            <td>15</td>
            <td>0.8665827505827507</td>
            <td>3.0116871226502635</td>
            <td>0.1799999999999997</td>
            <td>30+0</td>
            <td>li_be</td>
            <td>0</td>
            <td>3</td>
            <td>2</td>
            <td>51</td>
        </tr>
        
        <tr>
            <td>dUouTFlV</td>
            <td>2023-03-03 10:35:29.310000+00:00</td>
            <td>classical</td>
            <td>2359</td>
            <td>14</td>
            <td>2.1428571428571432</td>
            <td>7.219950738206704</td>
            <td>0.0700000000000002</td>
            <td>30+0</td>
            <td>tsilboy</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>65</td>
        </tr>
        
        <tr>
            <td>oIWpYxtx</td>
            <td>2023-02-24 11:50:11.255000+00:00</td>
            <td>classical</td>
            <td>2350</td>
            <td>9</td>
            <td>1.0244222625529342</td>
            <td>2.882260192847706</td>
            <td>0.24</td>
            <td>30+0</td>
            <td>tsilboy</td>
            <td>4</td>
            <td>4</td>
            <td>1</td>
            <td>60</td>
        </tr>
        
        <tr>
            <td>6Uz5THnB</td>
            <td>2023-02-17 13:05:08.574000+00:00</td>
            <td>classical</td>
            <td>2343</td>
            <td>7</td>
            <td>2.5</td>
            <td>7.487252935605897</td>
            <td>0.2300000000000004</td>
            <td>30+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>0</td>
            <td>4</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>vR3LdXN1</td>
            <td>2023-02-08 18:03:04.154000+00:00</td>
            <td>classical</td>
            <td>2326</td>
            <td>6</td>
            <td>1.703992869875223</td>
            <td>5.39788676812014</td>
            <td>0.1000000000000014</td>
            <td>30+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>25</td>
        </tr>
        
        <tr>
            <td>PLjQvCA6</td>
            <td>2023-03-04 22:48:26.410000+00:00</td>
            <td>classical</td>
            <td>2332</td>
            <td>0</td>
            <td>1.4634146341463414</td>
            <td>5.264327376837192</td>
            <td>0.2699999999999996</td>
            <td>30+0</td>
            <td>michaelivancsics</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>17</td>
        </tr>
        
        <tr>
            <td>P7CuGDrx</td>
            <td>2023-02-26 15:10:34.234000+00:00</td>
            <td>classical</td>
            <td>2322</td>
            <td>10</td>
            <td>1.2</td>
            <td>4.4369792629210965</td>
            <td>0.1699999999999981</td>
            <td>30+0</td>
            <td>michaelivancsics</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>2uF3usJH</td>
            <td>2023-02-25 14:05:40.507000+00:00</td>
            <td>classical</td>
            <td>2310</td>
            <td>12</td>
            <td>2.2222222222222228</td>
            <td>5.555990906019221</td>
            <td>0.5999999999999979</td>
            <td>30+0</td>
            <td>michaelivancsics</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>20</td>
        </tr>
        
        <tr>
            <td>of9yNDQ7</td>
            <td>2023-03-03 16:05:49.167000+00:00</td>
            <td>classical</td>
            <td>2299</td>
            <td>8</td>
            <td>1.476</td>
            <td>4.712589510814187</td>
            <td>0.3000000000000007</td>
            <td>30+0</td>
            <td>thelightningprongs</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>21</td>
        </tr>
        
        <tr>
            <td>Ud6o5oo2</td>
            <td>2023-02-19 14:45:34.349000+00:00</td>
            <td>classical</td>
            <td>2288</td>
            <td>11</td>
            <td>2.2967</td>
            <td>7.649747366852494</td>
            <td>0.0500000000000007</td>
            <td>30+0</td>
            <td>thelightningprongs</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>9</td>
        </tr>
        
        <tr>
            <td>avIHyR5o</td>
            <td>2023-02-10 12:51:35.600000+00:00</td>
            <td>classical</td>
            <td>2278</td>
            <td>10</td>
            <td>1.1538461538461535</td>
            <td>4.320191045212093</td>
            <td>0.1899999999999977</td>
            <td>30+0</td>
            <td>thelightningprongs</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>13</td>
        </tr>
        
        <tr>
            <td>IJl4wOtO</td>
            <td>2023-02-09 17:38:22.621000+00:00</td>
            <td>classical</td>
            <td>2271</td>
            <td>7</td>
            <td>2.4</td>
            <td>7.162229587681944</td>
            <td>0.1900000000000012</td>
            <td>30+0</td>
            <td>thelightningprongs</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>15</td>
        </tr>
        
        <tr>
            <td>rYSdsHcL</td>
            <td>2023-03-04 19:40:59.161000+00:00</td>
            <td>classical</td>
            <td>2296</td>
            <td>-3</td>
            <td>2.802690058479532</td>
            <td>8.512380307210172</td>
            <td>0.0400000000000027</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>49</td>
        </tr>
        
        <tr>
            <td>64M23iyX</td>
            <td>2023-02-24 18:24:37.104000+00:00</td>
            <td>classical</td>
            <td>2297</td>
            <td>-1</td>
            <td>2.142857142857143</td>
            <td>6.395759159238103</td>
            <td>0.4100000000000001</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>19</td>
        </tr>
        
        <tr>
            <td>RCEBehzE</td>
            <td>2023-02-24 17:52:16.299000+00:00</td>
            <td>classical</td>
            <td>2285</td>
            <td>12</td>
            <td>1.5395305832147936</td>
            <td>5.43196887319799</td>
            <td>0.1099999999999994</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>19</td>
        </tr>
        
        <tr>
            <td>SBvds8LX</td>
            <td>2023-02-24 17:34:07.766000+00:00</td>
            <td>classical</td>
            <td>2303</td>
            <td>-18</td>
            <td>1.3826031294452348</td>
            <td>5.885611736591363</td>
            <td>0.0399999999999991</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>2</td>
            <td>6</td>
            <td>50</td>
        </tr>
        
        <tr>
            <td>guRzbtJI</td>
            <td>2023-02-21 12:46:44.908000+00:00</td>
            <td>classical</td>
            <td>2292</td>
            <td>11</td>
            <td>0.6863939808481532</td>
            <td>3.5700095863588763</td>
            <td>0.0899999999999998</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>1</td>
            <td>0</td>
            <td>6</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>DtOZDN4c</td>
            <td>2023-02-21 10:29:01.734000+00:00</td>
            <td>classical</td>
            <td>2278</td>
            <td>14</td>
            <td>1.020889724310777</td>
            <td>3.0943090434717333</td>
            <td>0.3399999999999998</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>1</td>
            <td>0</td>
            <td>7</td>
            <td>26</td>
        </tr>
        
        <tr>
            <td>w86wo4gq</td>
            <td>2023-02-21 10:08:03.963000+00:00</td>
            <td>classical</td>
            <td>2263</td>
            <td>15</td>
            <td>2.1134461538461538</td>
            <td>6.939510676677137</td>
            <td>0.1300000000000025</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>18</td>
        </tr>
        
        <tr>
            <td>wvTEfmsP</td>
            <td>2023-02-21 08:29:56.912000+00:00</td>
            <td>classical</td>
            <td>2245</td>
            <td>18</td>
            <td>1.6666666666666667</td>
            <td>4.704169646546781</td>
            <td>0.3399999999999998</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>1</td>
            <td>1</td>
            <td>4</td>
            <td>30</td>
        </tr>
        
        <tr>
            <td>C18MZk5u</td>
            <td>2023-02-21 08:05:27.307000+00:00</td>
            <td>classical</td>
            <td>2246</td>
            <td>-1</td>
            <td>1.887677419354839</td>
            <td>6.070004745992531</td>
            <td>0.1900000000000012</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>IvbUwg65</td>
            <td>2023-02-21 07:44:54.747000+00:00</td>
            <td>classical</td>
            <td>2226</td>
            <td>20</td>
            <td>2.857142857142857</td>
            <td>8.359239964800366</td>
            <td>0.0500000000000007</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>30</td>
        </tr>
        
        <tr>
            <td>nLAyYJRL</td>
            <td>2023-02-21 06:51:14.807000+00:00</td>
            <td>classical</td>
            <td>2201</td>
            <td>25</td>
            <td>1.147559183673469</td>
            <td>3.672066759648253</td>
            <td>0.0800000000000018</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>15</td>
        </tr>
        
        <tr>
            <td>kkNHQO63</td>
            <td>2023-02-20 14:48:19.720000+00:00</td>
            <td>classical</td>
            <td>2185</td>
            <td>16</td>
            <td>1.0571428571428572</td>
            <td>2.580328584302484</td>
            <td>0.5100000000000016</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>4IzTYCiN</td>
            <td>2023-02-20 13:46:23.510000+00:00</td>
            <td>classical</td>
            <td>2166</td>
            <td>19</td>
            <td>0.8450704225352113</td>
            <td>4.003111180043486</td>
            <td>0.0899999999999998</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>12</td>
        </tr>
        
        <tr>
            <td>HWGxJO2L</td>
            <td>2023-02-20 12:40:49.614000+00:00</td>
            <td>classical</td>
            <td>2152</td>
            <td>14</td>
            <td>0.9230769230769232</td>
            <td>3.046147180936764</td>
            <td>0.1800000000000032</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>18</td>
        </tr>
        
        <tr>
            <td>rFqQhi4a</td>
            <td>2023-02-20 11:52:00.678000+00:00</td>
            <td>classical</td>
            <td>2144</td>
            <td>8</td>
            <td>2.4</td>
            <td>6.8198847986360205</td>
            <td>0.25</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>4</td>
        </tr>
        
        <tr>
            <td>WrbgoE1W</td>
            <td>2023-02-20 09:45:01.197000+00:00</td>
            <td>classical</td>
            <td>2100</td>
            <td>40</td>
            <td>1.1111111111111112</td>
            <td>5.094857955961864</td>
            <td>0.0700000000000002</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>11</td>
        </tr>
        
        <tr>
            <td>g0WE8LU7</td>
            <td>2023-02-20 09:11:17.786000+00:00</td>
            <td>classical</td>
            <td>2059</td>
            <td>41</td>
            <td>1.5</td>
            <td>4.919390206112949</td>
            <td>0.2199999999999988</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>6</td>
            <td>32</td>
        </tr>
        
        <tr>
            <td>8ciFWaEU</td>
            <td>2023-02-20 06:34:45.296000+00:00</td>
            <td>classical</td>
            <td>2049</td>
            <td>10</td>
            <td>1.3333333333333333</td>
            <td>4.164891209609056</td>
            <td>0.3599999999999994</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>tcAaVBS4</td>
            <td>2023-02-20 05:44:08.187000+00:00</td>
            <td>classical</td>
            <td>2007</td>
            <td>42</td>
            <td>1.0084179970972422</td>
            <td>3.9744284169958495</td>
            <td>0.0899999999999998</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>17</td>
        </tr>
        
        <tr>
            <td>yHYlpyS1</td>
            <td>2023-02-19 16:34:32.456000+00:00</td>
            <td>classical</td>
            <td>1986</td>
            <td>21</td>
            <td>4.099047619047619</td>
            <td>4.559638809938513</td>
            <td>3.030000000000001</td>
            <td>25+3</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>WjUXB7ID</td>
            <td>2023-02-19 15:42:48.537000+00:00</td>
            <td>classical</td>
            <td>1952</td>
            <td>34</td>
            <td>3.5687027027027027</td>
            <td>2.2550157371241077</td>
            <td>3.1000000000000014</td>
            <td>25+3</td>
            <td>siberian_d4</td>
            <td>4</td>
            <td>4</td>
            <td>3</td>
            <td>49</td>
        </tr>
        
        <tr>
            <td>rWG0WkNe</td>
            <td>2023-02-18 16:52:35.402000+00:00</td>
            <td>classical</td>
            <td>1861</td>
            <td>91</td>
            <td>3.882252525252525</td>
            <td>2.927586360097163</td>
            <td>3.17</td>
            <td>25+3</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>26</td>
        </tr>
        
        <tr>
            <td>jCtnEf7T</td>
            <td>2023-02-18 16:01:35.559000+00:00</td>
            <td>classical</td>
            <td>1787</td>
            <td>74</td>
            <td>4.65939393939394</td>
            <td>5.097124949378195</td>
            <td>3.09</td>
            <td>25+3</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>SAoh4pTA</td>
            <td>2023-02-18 14:09:40.311000+00:00</td>
            <td>classical</td>
            <td>1678</td>
            <td>109</td>
            <td>4.466666666666667</td>
            <td>3.4590502538997363</td>
            <td>3.39</td>
            <td>25+3</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>32</td>
        </tr>
        
        <tr>
            <td>AbFbQd46</td>
            <td>2023-02-09 12:59:02.359000+00:00</td>
            <td>classical</td>
            <td>1553</td>
            <td>125</td>
            <td>1.3636363636363635</td>
            <td>4.933065924915826</td>
            <td>0.1499999999999985</td>
            <td>30+0</td>
            <td>siberian_d4</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>17</td>
        </tr>
        
        <tr>
            <td>mWHlHQ5n</td>
            <td>2023-03-01 14:00:23.770000+00:00</td>
            <td>classical</td>
            <td>2261</td>
            <td>17</td>
            <td>15.32258064516129</td>
            <td>1.200843523623099</td>
            <td>15.1</td>
            <td>20+15</td>
            <td>evgeny_eschenko23</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
            <td>40</td>
        </tr>
        
        <tr>
            <td>I9vX07kr</td>
            <td>2023-02-28 17:00:04.004000+00:00</td>
            <td>classical</td>
            <td>2243</td>
            <td>18</td>
            <td>15.24390243902439</td>
            <td>2.483379805582412</td>
            <td>15.239999999999998</td>
            <td>20+15</td>
            <td>evgeny_eschenko23</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>20</td>
        </tr>
        
        <tr>
            <td>Ekh7egEF</td>
            <td>2023-02-22 17:03:13.997000+00:00</td>
            <td>classical</td>
            <td>2219</td>
            <td>24</td>
            <td>15.208745341614907</td>
            <td>1.9693751253695848</td>
            <td>15.1</td>
            <td>20+15</td>
            <td>evgeny_eschenko23</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>jMu5zKkf</td>
            <td>2023-02-21 17:01:45.927000+00:00</td>
            <td>classical</td>
            <td>2229</td>
            <td>-10</td>
            <td>15.666666666666666</td>
            <td>1.2239784208078082</td>
            <td>15.39</td>
            <td>20+15</td>
            <td>evgeny_eschenko23</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>42</td>
        </tr>
        
        <tr>
            <td>JiJGOGp6</td>
            <td>2023-02-11 18:55:41.502000+00:00</td>
            <td>classical</td>
            <td>2207</td>
            <td>22</td>
            <td>15.163953373015874</td>
            <td>1.844837927832356</td>
            <td>14.96</td>
            <td>20+15</td>
            <td>evgeny_eschenko23</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>v2RqaSBL</td>
            <td>2023-02-11 18:03:04.530000+00:00</td>
            <td>classical</td>
            <td>2200</td>
            <td>7</td>
            <td>15.194713804713803</td>
            <td>1.1774873674837625</td>
            <td>15.04</td>
            <td>20+15</td>
            <td>evgeny_eschenko23</td>
            <td>2</td>
            <td>0</td>
            <td>8</td>
            <td>26</td>
        </tr>
        
        <tr>
            <td>KVr9Lb2N</td>
            <td>2023-03-04 14:58:34.810000+00:00</td>
            <td>classical</td>
            <td>2215</td>
            <td>10</td>
            <td>10.269235576923077</td>
            <td>1.2825998020410814</td>
            <td>10.08</td>
            <td>20+10</td>
            <td>boodesh</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>XzbpBXCQ</td>
            <td>2023-03-03 16:36:57.949000+00:00</td>
            <td>classical</td>
            <td>2261</td>
            <td>-14</td>
            <td>2.1428571428571432</td>
            <td>5.2899985282916</td>
            <td>0.3200000000000003</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>34</td>
        </tr>
        
        <tr>
            <td>TN3rwHbU</td>
            <td>2023-03-03 13:30:55.673000+00:00</td>
            <td>classical</td>
            <td>2254</td>
            <td>7</td>
            <td>1.8536129032258064</td>
            <td>5.33920519442928</td>
            <td>0.370000000000001</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>26</td>
        </tr>
        
        <tr>
            <td>9zv9fVye</td>
            <td>2023-03-03 12:48:48.470000+00:00</td>
            <td>classical</td>
            <td>2235</td>
            <td>10</td>
            <td>1.4266998577524894</td>
            <td>5.252947955603752</td>
            <td>0.1099999999999994</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>32</td>
        </tr>
        
        <tr>
            <td>hlHDhjc2</td>
            <td>2023-02-28 14:09:30.476000+00:00</td>
            <td>classical</td>
            <td>2223</td>
            <td>12</td>
            <td>1.7684469696969698</td>
            <td>6.195507250265863</td>
            <td>0.1699999999999981</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>0</td>
            <td>3</td>
            <td>1</td>
            <td>41</td>
        </tr>
        
        <tr>
            <td>DmGHcseb</td>
            <td>2023-02-27 15:32:38.232000+00:00</td>
            <td>classical</td>
            <td>2211</td>
            <td>12</td>
            <td>2.4</td>
            <td>7.594358564092165</td>
            <td>0.0899999999999998</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>38</td>
        </tr>
        
        <tr>
            <td>w3MjozRo</td>
            <td>2023-02-27 15:24:24.289000+00:00</td>
            <td>classical</td>
            <td>2199</td>
            <td>12</td>
            <td>3.0</td>
            <td>8.812031010290182</td>
            <td>0.0200000000000031</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>10</td>
        </tr>
        
        <tr>
            <td>HsOvcDyV</td>
            <td>2023-02-27 14:26:49.638000+00:00</td>
            <td>classical</td>
            <td>2188</td>
            <td>11</td>
            <td>1.25</td>
            <td>3.9436508133439823</td>
            <td>0.3399999999999998</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>3</td>
            <td>1</td>
            <td>5</td>
            <td>37</td>
        </tr>
        
        <tr>
            <td>3SmJs0FX</td>
            <td>2023-02-27 13:58:13.361000+00:00</td>
            <td>classical</td>
            <td>2212</td>
            <td>-24</td>
            <td>1.532162162162162</td>
            <td>5.525722742389996</td>
            <td>0.1099999999999994</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>1</td>
            <td>3</td>
            <td>6</td>
            <td>74</td>
        </tr>
        
        <tr>
            <td>BUukUqp4</td>
            <td>2023-02-24 17:22:59.278000+00:00</td>
            <td>classical</td>
            <td>2201</td>
            <td>11</td>
            <td>1.3333333333333333</td>
            <td>4.172033707021703</td>
            <td>0.2799999999999976</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>1</td>
            <td>2</td>
            <td>5</td>
            <td>56</td>
        </tr>
        
        <tr>
            <td>XabGTT7q</td>
            <td>2023-02-22 14:14:12.837000+00:00</td>
            <td>classical</td>
            <td>2201</td>
            <td>-19</td>
            <td>1.8136693548387095</td>
            <td>6.465373857440901</td>
            <td>0.1099999999999994</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>2</td>
            <td>3</td>
            <td>1</td>
            <td>46</td>
        </tr>
        
        <tr>
            <td>QZxWbymV</td>
            <td>2023-02-22 12:59:55.408000+00:00</td>
            <td>classical</td>
            <td>2184</td>
            <td>17</td>
            <td>1.5841532976827095</td>
            <td>5.412700062427682</td>
            <td>0.0700000000000002</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>0</td>
            <td>0</td>
            <td>4</td>
            <td>24</td>
        </tr>
        
        <tr>
            <td>9V31F2vu</td>
            <td>2023-02-21 17:47:52.965000+00:00</td>
            <td>classical</td>
            <td>2162</td>
            <td>22</td>
            <td>0.7288105992171033</td>
            <td>2.16967756898288</td>
            <td>0.1399999999999996</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>4</td>
            <td>2</td>
            <td>6</td>
            <td>30</td>
        </tr>
        
        <tr>
            <td>3ihXR6aR</td>
            <td>2023-02-18 17:28:32.807000+00:00</td>
            <td>classical</td>
            <td>2175</td>
            <td>18</td>
            <td>2.716333333333333</td>
            <td>8.126094029397098</td>
            <td>0.1650000000000009</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>10</td>
        </tr>
        
        <tr>
            <td>ZhjGTnQl</td>
            <td>2023-02-18 17:25:06.536000+00:00</td>
            <td>classical</td>
            <td>2148</td>
            <td>27</td>
            <td>4.615384615384615</td>
            <td>10.614715679406354</td>
            <td>0.0300000000000011</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>49</td>
        </tr>
        
        <tr>
            <td>jx6J3M2I</td>
            <td>2023-02-18 17:08:39.667000+00:00</td>
            <td>classical</td>
            <td>2124</td>
            <td>24</td>
            <td>2.4</td>
            <td>7.743451685133705</td>
            <td>0.0700000000000002</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>47</td>
        </tr>
        
        <tr>
            <td>I5sJx9df</td>
            <td>2023-02-18 16:36:15.683000+00:00</td>
            <td>classical</td>
            <td>2155</td>
            <td>-31</td>
            <td>2.3076923076923075</td>
            <td>6.9683311696518</td>
            <td>0.1999999999999993</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>3</td>
            <td>3</td>
            <td>1</td>
            <td>87</td>
        </tr>
        
        <tr>
            <td>id3SEYfK</td>
            <td>2023-02-18 09:30:37.208000+00:00</td>
            <td>classical</td>
            <td>2125</td>
            <td>12</td>
            <td>1.5789473684210529</td>
            <td>5.53911843449563</td>
            <td>0.1899999999999977</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>39</td>
        </tr>
        
        <tr>
            <td>QCbPdYOC</td>
            <td>2023-02-17 15:29:01.081000+00:00</td>
            <td>classical</td>
            <td>2149</td>
            <td>-24</td>
            <td>2.0000000000000004</td>
            <td>4.99815432601542</td>
            <td>0.6699999999999982</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>1</td>
            <td>6</td>
            <td>1</td>
            <td>99</td>
        </tr>
        
        <tr>
            <td>Hkn3nnz4</td>
            <td>2023-02-17 14:47:48.180000+00:00</td>
            <td>classical</td>
            <td>2137</td>
            <td>12</td>
            <td>1.0063905723905722</td>
            <td>4.050263810958775</td>
            <td>0.1000000000000014</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>VvWjQ42M</td>
            <td>2023-02-17 14:16:30.849000+00:00</td>
            <td>classical</td>
            <td>2115</td>
            <td>22</td>
            <td>3.5294117647058822</td>
            <td>8.717721535563422</td>
            <td>0.0600000000000022</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>9</td>
        </tr>
        
        <tr>
            <td>hVe8ZiMB</td>
            <td>2023-02-17 13:58:56.890000+00:00</td>
            <td>classical</td>
            <td>2063</td>
            <td>52</td>
            <td>2.142857142857143</td>
            <td>6.909406921440282</td>
            <td>0.0599999999999987</td>
            <td>30+0</td>
            <td>egorrtischev</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>31</td>
        </tr>
        
        <tr>
            <td>NvJKUKLx</td>
            <td>2023-03-02 11:45:00.817000+00:00</td>
            <td>classical</td>
            <td>2186</td>
            <td>11</td>
            <td>10.473381730187535</td>
            <td>2.1878862439929345</td>
            <td>9.92</td>
            <td>25+10</td>
            <td>sergei1609</td>
            <td>1</td>
            <td>4</td>
            <td>5</td>
            <td>32</td>
        </tr>
        
        <tr>
            <td>KycZhHJs</td>
            <td>2023-03-02 11:01:43.079000+00:00</td>
            <td>classical</td>
            <td>2172</td>
            <td>14</td>
            <td>15.0</td>
            <td>2.2505885839839705</td>
            <td>14.92</td>
            <td>15+15</td>
            <td>sergei1609</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>39</td>
        </tr>
        
        <tr>
            <td>lof62cUm</td>
            <td>2023-03-01 10:54:35.938000+00:00</td>
            <td>classical</td>
            <td>2194</td>
            <td>-22</td>
            <td>10.58984929078014</td>
            <td>1.7566674087852117</td>
            <td>10.060000000000002</td>
            <td>25+10</td>
            <td>sergei1609</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>61</td>
        </tr>
        
        <tr>
            <td>lmOOGcMU</td>
            <td>2023-02-28 10:43:34.038000+00:00</td>
            <td>classical</td>
            <td>2176</td>
            <td>18</td>
            <td>15.530923436586791</td>
            <td>2.3312902116274667</td>
            <td>15.38</td>
            <td>30+15</td>
            <td>sergei1609</td>
            <td>3</td>
            <td>2</td>
            <td>10</td>
            <td>42</td>
        </tr>
        
        <tr>
            <td>gGGZbZoY</td>
            <td>2023-02-27 11:33:07.387000+00:00</td>
            <td>classical</td>
            <td>2185</td>
            <td>14</td>
            <td>1.044209065679926</td>
            <td>3.7446167526452734</td>
            <td>0.1600000000000001</td>
            <td>25+0</td>
            <td>sergei1609</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>42</td>
        </tr>
        
        <tr>
            <td>FIBmLKHY</td>
            <td>2023-02-27 11:13:42.476000+00:00</td>
            <td>classical</td>
            <td>2170</td>
            <td>15</td>
            <td>14.996535947712417</td>
            <td>0.2204846718886084</td>
            <td>14.98</td>
            <td>15+15</td>
            <td>sergei1609</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>26</td>
        </tr>
        
    </table>

</body>

</html>