<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lichess leaderboart</title>
    <link rel="stylesheet" type="text/css" href="liderboart_style.css">
</head>
<body>
    <h2> Data player for observation </h2>
    <table style="width:100%" border-collapse: collapse>
        <tr>
            <th> game_id </th>
            <th> date </th>
            <th> game_speed </th>
            <th> rating </th>
            <th> rating_diff </th>
            <th> clocks_mean </th>
            <th> clocks_std </th>
            <th> clocks_median </th>
            <th> move_count </th>
            <th> time_control </th>
            <th> user_id </th>
            <th> mistake </th>
            <th> blunder </th>
            <th> inaccuracy </th>
            <th> acpl </th>
            <th> levene_p_value_median </th>
            <th> correlation_coefficient </th>
        <tr>
        
        <tr>
            <td>BHshU6Ph</td>
            <td>2023-05-15</td>
            <td>classical</td>
            <td>2286</td>
            <td>-11</td>
            <td>5.62</td>
            <td>8.14</td>
            <td>2.0</td>
            <td>52</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>22</td>
            <td>0.0</td>
            <td>0.54</td>
        </tr>
        
        <tr>
            <td>Ry1UtZeg</td>
            <td>2023-05-15</td>
            <td>classical</td>
            <td>2275</td>
            <td>11</td>
            <td>13.88</td>
            <td>23.56</td>
            <td>5.0</td>
            <td>32</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
            <td>55</td>
            <td>0.06</td>
            <td>0.61</td>
        </tr>
        
        <tr>
            <td>Ry1UtZeg</td>
            <td>2023-05-15</td>
            <td>classical</td>
            <td>2275</td>
            <td>11</td>
            <td>13.88</td>
            <td>23.56</td>
            <td>5.0</td>
            <td>32</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>2</td>
            <td>4</td>
            <td>32</td>
            <td>0.06</td>
            <td>0.61</td>
        </tr>
        
        <tr>
            <td>F9DKP94I</td>
            <td>2023-05-10</td>
            <td>classical</td>
            <td>2251</td>
            <td>7</td>
            <td>34.63</td>
            <td>53.62</td>
            <td>6.5</td>
            <td>38</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>26</td>
            <td>0.0</td>
            <td>0.81</td>
        </tr>
        
        <tr>
            <td>mXJiUKxR</td>
            <td>2023-05-09</td>
            <td>classical</td>
            <td>2220</td>
            <td>11</td>
            <td>7.97</td>
            <td>12.67</td>
            <td>3.0</td>
            <td>29</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>8</td>
            <td>0.01</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>Z5YQlFc3</td>
            <td>2023-05-09</td>
            <td>classical</td>
            <td>2214</td>
            <td>9</td>
            <td>7.73</td>
            <td>7.22</td>
            <td>5.0</td>
            <td>41</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>1</td>
            <td>3</td>
            <td>2</td>
            <td>36</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>qwsQrE0T</td>
            <td>2023-05-09</td>
            <td>classical</td>
            <td>2189</td>
            <td>9</td>
            <td>9.44</td>
            <td>9.2</td>
            <td>4.0</td>
            <td>41</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>21</td>
            <td>0.0</td>
            <td>0.34</td>
        </tr>
        
        <tr>
            <td>9S6uCtUw</td>
            <td>2023-05-09</td>
            <td>classical</td>
            <td>2168</td>
            <td>9</td>
            <td>9.42</td>
            <td>11.54</td>
            <td>3.0</td>
            <td>38</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>13</td>
            <td>0.0</td>
            <td>0.63</td>
        </tr>
        
        <tr>
            <td>PUkXShmF</td>
            <td>2023-05-08</td>
            <td>classical</td>
            <td>2157</td>
            <td>4</td>
            <td>23.15</td>
            <td>38.64</td>
            <td>6.0</td>
            <td>41</td>
            <td>25+3</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>4</td>
            <td>3</td>
            <td>45</td>
            <td>0.06</td>
            <td>0.26</td>
        </tr>
        
        <tr>
            <td>tCXGKrBo</td>
            <td>2023-05-08</td>
            <td>classical</td>
            <td>2159</td>
            <td>-2</td>
            <td>11.22</td>
            <td>23.73</td>
            <td>1.0</td>
            <td>60</td>
            <td>25+3</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>0</td>
            <td>4</td>
            <td>12</td>
            <td>0.03</td>
            <td>0.47</td>
        </tr>
        
        <tr>
            <td>2ShEjdoO</td>
            <td>2023-05-08</td>
            <td>classical</td>
            <td>2151</td>
            <td>3</td>
            <td>29.34</td>
            <td>21.5</td>
            <td>27.0</td>
            <td>29</td>
            <td>25+3</td>
            <td>alex_gor001</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>48</td>
            <td>0.06</td>
            <td>0.11</td>
        </tr>
        
        <tr>
            <td>SvRSLnFT</td>
            <td>2023-05-08</td>
            <td>classical</td>
            <td>2167</td>
            <td>-16</td>
            <td>14.1</td>
            <td>15.13</td>
            <td>12.0</td>
            <td>29</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>1</td>
            <td>3</td>
            <td>3</td>
            <td>50</td>
            <td>0.02</td>
            <td>0.34</td>
        </tr>
        
        <tr>
            <td>aSZLc8Z8</td>
            <td>2023-05-08</td>
            <td>classical</td>
            <td>2186</td>
            <td>-19</td>
            <td>19.78</td>
            <td>14.15</td>
            <td>18.0</td>
            <td>32</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
            <td>46</td>
            <td>0.01</td>
            <td>0.09</td>
        </tr>
        
        <tr>
            <td>NkLE9LsJ</td>
            <td>2023-05-08</td>
            <td>classical</td>
            <td>2098</td>
            <td>27</td>
            <td>4.82</td>
            <td>4.84</td>
            <td>3.5</td>
            <td>38</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>23</td>
            <td>0.0</td>
            <td>0.8</td>
        </tr>
        
        <tr>
            <td>EfLPYBjX</td>
            <td>2023-05-07</td>
            <td>classical</td>
            <td>2072</td>
            <td>26</td>
            <td>23.5</td>
            <td>26.82</td>
            <td>13.0</td>
            <td>44</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>1</td>
            <td>0</td>
            <td>6</td>
            <td>37</td>
            <td>0.06</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>Nc3zbsbv</td>
            <td>2023-05-07</td>
            <td>classical</td>
            <td>2050</td>
            <td>22</td>
            <td>34.8</td>
            <td>39.37</td>
            <td>21.0</td>
            <td>46</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>21</td>
            <td>0.04</td>
            <td>0.46</td>
        </tr>
        
        <tr>
            <td>DRalQuBu</td>
            <td>2023-04-23</td>
            <td>classical</td>
            <td>2071</td>
            <td>23</td>
            <td>19.21</td>
            <td>16.56</td>
            <td>15.0</td>
            <td>28</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>7</td>
            <td>0.03</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>OduO6rrl</td>
            <td>2023-04-23</td>
            <td>classical</td>
            <td>2039</td>
            <td>32</td>
            <td>3.3</td>
            <td>4.61</td>
            <td>2.0</td>
            <td>43</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>2</td>
            <td>4</td>
            <td>41</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>UQKFD8lr</td>
            <td>2023-04-17</td>
            <td>classical</td>
            <td>2080</td>
            <td>-41</td>
            <td>16.97</td>
            <td>21.26</td>
            <td>9.5</td>
            <td>30</td>
            <td>30+0</td>
            <td>alex_gor001</td>
            <td>0</td>
            <td>3</td>
            <td>3</td>
            <td>99</td>
            <td>0.05</td>
            <td>0.0</td>
        </tr>
        
    </table>

</body>

</html>