<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lichess leaderboart</title>
    <link rel="stylesheet" type="text/css" href="liderboart_style.css">
</head>
<body>
    <h2>Lishess liderboart</h2>
    <table style="width:100%" border-collapse: collapse>
        <tr>
            <th> game_id </th>
            <th> date </th>
            <th> game_speed </th>
            <th> rating </th>
            <th> ratingDiff </th>
            <th> clocks_mean </th>
            <th> clocks_std </th>
            <th> clocks_median </th>
            <th> move_count </th>
            <th> time_control </th>
            <th> user_id </th>
            <th> mistake </th>
            <th> blunder </th>
            <th> inaccuracy </th>
            <th> acpl </th>
        <tr>

        
        <tr>
            <td>ZA4TqEPn</td>
            <td>2023-03-19</td>
            <td>classical</td>
            <td>2384</td>
            <td>7</td>
            <td>25.01408450704225</td>
            <td>125.31487023907064</td>
            <td>4.0</td>
            <td>71.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>1</td>
            <td>0</td>
            <td>5</td>
            <td>13</td>
        </tr>
        
        <tr>
            <td>dUouTFlV</td>
            <td>2023-03-03</td>
            <td>classical</td>
            <td>2359</td>
            <td>14</td>
            <td>66.66666666666667</td>
            <td>281.71814125311687</td>
            <td>5.0</td>
            <td>27.0</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>65</td>
        </tr>
        
        <tr>
            <td>oIWpYxtx</td>
            <td>2023-02-24</td>
            <td>classical</td>
            <td>2350</td>
            <td>9</td>
            <td>30.894736842105264</td>
            <td>51.36852890411456</td>
            <td>9.0</td>
            <td>56.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>4</td>
            <td>4</td>
            <td>1</td>
            <td>60</td>
        </tr>
        
        <tr>
            <td>6Uz5THnB</td>
            <td>2023-02-17</td>
            <td>classical</td>
            <td>2343</td>
            <td>7</td>
            <td>78.26086956521739</td>
            <td>275.0718826829127</td>
            <td>14.0</td>
            <td>23.0</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>0</td>
            <td>4</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>vR3LdXN1</td>
            <td>2023-02-08</td>
            <td>classical</td>
            <td>2326</td>
            <td>6</td>
            <td>49.0</td>
            <td>105.96626106855184</td>
            <td>9.0</td>
            <td>32.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>25</td>
        </tr>
        
        <tr>
            <td>giIsQB4I</td>
            <td>2023-02-05</td>
            <td>classical</td>
            <td>2319</td>
            <td>7</td>
            <td>63.17857142857143</td>
            <td>229.1217788443873</td>
            <td>3.5</td>
            <td>27.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>15</td>
        </tr>
        
        <tr>
            <td>sP1IkerC</td>
            <td>2023-02-04</td>
            <td>classical</td>
            <td>2316</td>
            <td>3</td>
            <td>24.64383561643836</td>
            <td>40.875142281353874</td>
            <td>6.0</td>
            <td>73.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>5</td>
            <td>8</td>
            <td>4</td>
            <td>79</td>
        </tr>
        
        <tr>
            <td>flCIuTMQ</td>
            <td>2023-02-01</td>
            <td>classical</td>
            <td>2308</td>
            <td>8</td>
            <td>27.272727272727277</td>
            <td>108.42362840078856</td>
            <td>9.0</td>
            <td>66.0</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>18</td>
        </tr>
        
        <tr>
            <td>n2ZTuqDX</td>
            <td>2023-01-27</td>
            <td>classical</td>
            <td>2280</td>
            <td>11</td>
            <td>32.888888888888886</td>
            <td>151.63475447743534</td>
            <td>3.0</td>
            <td>53.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>36</td>
        </tr>
        
        <tr>
            <td>4JEKE1w8</td>
            <td>2023-01-22</td>
            <td>classical</td>
            <td>2282</td>
            <td>-2</td>
            <td>47.75</td>
            <td>125.8096832079665</td>
            <td>6.0</td>
            <td>35.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>Ck2abcZS</td>
            <td>2023-01-22</td>
            <td>classical</td>
            <td>2275</td>
            <td>7</td>
            <td>27.73584905660377</td>
            <td>120.32364389795912</td>
            <td>6.0</td>
            <td>53.0</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>30</td>
        </tr>
        
        <tr>
            <td>PLRfLjNZ</td>
            <td>2023-01-21</td>
            <td>classical</td>
            <td>2271</td>
            <td>0</td>
            <td>40.65909090909091</td>
            <td>190.63207580689635</td>
            <td>5.0</td>
            <td>44.0</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>5</td>
        </tr>
        
        <tr>
            <td>8XWVgjtt</td>
            <td>2023-01-21</td>
            <td>classical</td>
            <td>2286</td>
            <td>-15</td>
            <td>52.96774193548387</td>
            <td>166.05624462444075</td>
            <td>12.0</td>
            <td>31.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>3</td>
            <td>0</td>
            <td>5</td>
            <td>45</td>
        </tr>
        
        <tr>
            <td>H7fxf1IE</td>
            <td>2023-01-19</td>
            <td>classical</td>
            <td>2279</td>
            <td>7</td>
            <td>66.66666666666667</td>
            <td>232.44975562234708</td>
            <td>16.0</td>
            <td>27.5</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>34</td>
        </tr>
        
        <tr>
            <td>5FJhmCq3</td>
            <td>2023-01-15</td>
            <td>classical</td>
            <td>2270</td>
            <td>9</td>
            <td>25.47142857142857</td>
            <td>52.05950480763648</td>
            <td>5.0</td>
            <td>70.0</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>kFaDdvGD</td>
            <td>2023-01-15</td>
            <td>classical</td>
            <td>2283</td>
            <td>-13</td>
            <td>27.476190476190474</td>
            <td>44.09040393125086</td>
            <td>10.0</td>
            <td>63.0</td>
            <td>1800+0</td>
            <td>tsilboy</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>GpFeySCI</td>
            <td>2023-03-16</td>
            <td>classical</td>
            <td>2291</td>
            <td>12</td>
            <td>35.604651162790695</td>
            <td>48.21132721041747</td>
            <td>11.0</td>
            <td>43.5</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>3</td>
            <td>1</td>
            <td>1</td>
            <td>32</td>
        </tr>
        
        <tr>
            <td>05OoLzgs</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2275</td>
            <td>16</td>
            <td>74.81481481481481</td>
            <td>145.5360556158678</td>
            <td>22.0</td>
            <td>26.5</td>
            <td>1800+20</td>
            <td>skunk_point</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>Zp5Sppyh</td>
            <td>2023-03-08</td>
            <td>classical</td>
            <td>2265</td>
            <td>5</td>
            <td>116.15384615384616</td>
            <td>263.4104273836514</td>
            <td>9.0</td>
            <td>13.0</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>RdkX7Lt4</td>
            <td>2023-03-06</td>
            <td>classical</td>
            <td>2245</td>
            <td>4</td>
            <td>31.4375</td>
            <td>58.950864515147984</td>
            <td>6.0</td>
            <td>48.0</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>1</td>
            <td>0</td>
            <td>4</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>qpx8kq6k</td>
            <td>2023-03-06</td>
            <td>classical</td>
            <td>2258</td>
            <td>-13</td>
            <td>7.306666666666667</td>
            <td>9.087681528066195</td>
            <td>6.0</td>
            <td>75.0</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>5</td>
            <td>0</td>
            <td>4</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>BpDVCiLh</td>
            <td>2023-03-04</td>
            <td>classical</td>
            <td>2263</td>
            <td>-5</td>
            <td>17.896103896103895</td>
            <td>24.05058760282488</td>
            <td>7.0</td>
            <td>77.0</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>12</td>
        </tr>
        
        <tr>
            <td>ttMn9rNw</td>
            <td>2023-03-04</td>
            <td>classical</td>
            <td>2261</td>
            <td>2</td>
            <td>45.65714285714286</td>
            <td>230.6267166851655</td>
            <td>3.0</td>
            <td>35.5</td>
            <td>1500+6</td>
            <td>skunk_point</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>11</td>
        </tr>
        
        <tr>
            <td>aKq2bbhA</td>
            <td>2023-03-03</td>
            <td>classical</td>
            <td>2261</td>
            <td>-19</td>
            <td>59.76</td>
            <td>289.2958734582988</td>
            <td>0.0</td>
            <td>25.0</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>33</td>
        </tr>
        
        <tr>
            <td>Vje1vxLs</td>
            <td>2023-03-03</td>
            <td>classical</td>
            <td>2244</td>
            <td>10</td>
            <td>21.169014084507044</td>
            <td>53.74011167883187</td>
            <td>4.0</td>
            <td>70.5</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>3</td>
            <td>3</td>
            <td>10</td>
            <td>48</td>
        </tr>
        
        <tr>
            <td>KSWe7iCE</td>
            <td>2023-03-03</td>
            <td>classical</td>
            <td>2258</td>
            <td>-14</td>
            <td>67.71428571428571</td>
            <td>156.34770251472406</td>
            <td>21.0</td>
            <td>35.0</td>
            <td>1800+30</td>
            <td>skunk_point</td>
            <td>1</td>
            <td>1</td>
            <td>4</td>
            <td>50</td>
        </tr>
        
        <tr>
            <td>CNaJssef</td>
            <td>2023-02-23</td>
            <td>classical</td>
            <td>2236</td>
            <td>9</td>
            <td>19.23076923076923</td>
            <td>30.41040774814248</td>
            <td>8.0</td>
            <td>78.0</td>
            <td>1500+0</td>
            <td>skunk_point</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>11</td>
        </tr>
        
        <tr>
            <td>GzX7UuSP</td>
            <td>2023-02-23</td>
            <td>classical</td>
            <td>2259</td>
            <td>-23</td>
            <td>32.391304347826086</td>
            <td>78.03134215921345</td>
            <td>6.0</td>
            <td>46.5</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>36</td>
        </tr>
        
        <tr>
            <td>aMXEY7q7</td>
            <td>2023-02-21</td>
            <td>classical</td>
            <td>2247</td>
            <td>12</td>
            <td>56.333333333333336</td>
            <td>141.38180510523554</td>
            <td>26.0</td>
            <td>27.0</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>21</td>
        </tr>
        
        <tr>
            <td>TKlhZADv</td>
            <td>2023-02-21</td>
            <td>classical</td>
            <td>2304</td>
            <td>-6</td>
            <td>28.29090909090909</td>
            <td>61.7050676354935</td>
            <td>7.0</td>
            <td>55.0</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>3</td>
            <td>4</td>
            <td>11</td>
            <td>54</td>
        </tr>
        
        <tr>
            <td>7ilh2Dy3</td>
            <td>2023-02-19</td>
            <td>classical</td>
            <td>2397</td>
            <td>-65</td>
            <td>56.9</td>
            <td>170.57033739780195</td>
            <td>21.0</td>
            <td>40.0</td>
            <td>1800+30</td>
            <td>skunk_point</td>
            <td>2</td>
            <td>2</td>
            <td>7</td>
            <td>65</td>
        </tr>
        
        <tr>
            <td>ff5BXfi3</td>
            <td>2023-02-14</td>
            <td>classical</td>
            <td>2392</td>
            <td>5</td>
            <td>72.0</td>
            <td>175.2141546793523</td>
            <td>21.0</td>
            <td>25.0</td>
            <td>1800+0</td>
            <td>skunk_point</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td>25</td>
        </tr>
        
        <tr>
            <td>HkDAw43z</td>
            <td>2023-02-13</td>
            <td>classical</td>
            <td>2368</td>
            <td>24</td>
            <td>44.85294117647059</td>
            <td>58.88729631949551</td>
            <td>21.5</td>
            <td>33.5</td>
            <td>1500+5</td>
            <td>skunk_point</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>zDi0gCMC</td>
            <td>2023-02-12</td>
            <td>classical</td>
            <td>2269</td>
            <td>47</td>
            <td>34.09090909090909</td>
            <td>34.402575340846866</td>
            <td>22.0</td>
            <td>44.0</td>
            <td>1500+0</td>
            <td>skunk_point</td>
            <td>1</td>
            <td>1</td>
            <td>5</td>
            <td>27</td>
        </tr>
        
        <tr>
            <td>lnnlfni6</td>
            <td>2023-02-12</td>
            <td>classical</td>
            <td>2458</td>
            <td>-106</td>
            <td>54.6</td>
            <td>302.2519478845422</td>
            <td>6.0</td>
            <td>60.5</td>
            <td>1800+30</td>
            <td>skunk_point</td>
            <td>6</td>
            <td>0</td>
            <td>6</td>
            <td>41</td>
        </tr>
        
        <tr>
            <td>l3AhvFxb</td>
            <td>2023-03-21</td>
            <td>classical</td>
            <td>2270</td>
            <td>1</td>
            <td>32.142857142857146</td>
            <td>41.208714651943545</td>
            <td>15.0</td>
            <td>56.0</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>2</td>
            <td>1</td>
            <td>6</td>
            <td>31</td>
        </tr>
        
        <tr>
            <td>h6wkjl2r</td>
            <td>2023-03-21</td>
            <td>classical</td>
            <td>2245</td>
            <td>12</td>
            <td>94.21052631578948</td>
            <td>336.963152592366</td>
            <td>3.0</td>
            <td>19.0</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>9</td>
        </tr>
        
        <tr>
            <td>AmMZWGF0</td>
            <td>2023-03-17</td>
            <td>classical</td>
            <td>2206</td>
            <td>13</td>
            <td>50.0</td>
            <td>134.52756842620278</td>
            <td>18.5</td>
            <td>35.5</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
            <td>59</td>
        </tr>
        
        <tr>
            <td>VYwmAVHT</td>
            <td>2023-03-17</td>
            <td>classical</td>
            <td>2194</td>
            <td>12</td>
            <td>94.42105263157896</td>
            <td>344.138637269996</td>
            <td>7.0</td>
            <td>19.5</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>33</td>
        </tr>
        
        <tr>
            <td>m3byfrtp</td>
            <td>2023-03-17</td>
            <td>classical</td>
            <td>2193</td>
            <td>1</td>
            <td>26.059701492537314</td>
            <td>70.52804683922325</td>
            <td>6.0</td>
            <td>67.5</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>KvjJC6o2</td>
            <td>2023-03-16</td>
            <td>classical</td>
            <td>2176</td>
            <td>17</td>
            <td>39.06521739130435</td>
            <td>59.7470763970608</td>
            <td>16.0</td>
            <td>45.5</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>50</td>
        </tr>
        
        <tr>
            <td>2rlOJReY</td>
            <td>2023-03-16</td>
            <td>classical</td>
            <td>2166</td>
            <td>-12</td>
            <td>37.82978723404256</td>
            <td>110.34728913346112</td>
            <td>9.0</td>
            <td>47.0</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>1</td>
            <td>1</td>
            <td>7</td>
            <td>51</td>
        </tr>
        
        <tr>
            <td>2uEUUqrO</td>
            <td>2023-03-15</td>
            <td>classical</td>
            <td>2144</td>
            <td>22</td>
            <td>54.54545454545455</td>
            <td>169.952237659289</td>
            <td>9.0</td>
            <td>33.5</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>29</td>
        </tr>
        
        <tr>
            <td>jTzVwFOC</td>
            <td>2023-03-15</td>
            <td>classical</td>
            <td>2127</td>
            <td>17</td>
            <td>94.73684210526316</td>
            <td>152.83422119726677</td>
            <td>45.0</td>
            <td>19.0</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>9</td>
        </tr>
        
        <tr>
            <td>brDGLCGC</td>
            <td>2023-03-15</td>
            <td>classical</td>
            <td>2152</td>
            <td>-25</td>
            <td>66.66666666666667</td>
            <td>278.9128365105672</td>
            <td>8.0</td>
            <td>26.5</td>
            <td>1800+0</td>
            <td>ratoniano33</td>
            <td>1</td>
            <td>3</td>
            <td>1</td>
            <td>103</td>
        </tr>
        
        <tr>
            <td>r1krVol3</td>
            <td>2023-03-09</td>
            <td>classical</td>
            <td>2224</td>
            <td>8</td>
            <td>39.91111111111111</td>
            <td>157.56195567630917</td>
            <td>7.0</td>
            <td>45.0</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>1</td>
            <td>1</td>
            <td>8</td>
            <td>41</td>
        </tr>
        
        <tr>
            <td>Vzfiqp71</td>
            <td>2023-03-08</td>
            <td>classical</td>
            <td>2231</td>
            <td>-7</td>
            <td>40.86363636363637</td>
            <td>189.37920003252387</td>
            <td>5.0</td>
            <td>44.0</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>0</td>
            <td>0</td>
            <td>5</td>
            <td>35</td>
        </tr>
        
        <tr>
            <td>yHR5BRfM</td>
            <td>2023-03-07</td>
            <td>classical</td>
            <td>2217</td>
            <td>14</td>
            <td>78.26086956521739</td>
            <td>332.41922423759144</td>
            <td>6.0</td>
            <td>23.0</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>21</td>
        </tr>
        
        <tr>
            <td>2uGOwruz</td>
            <td>2023-03-03</td>
            <td>classical</td>
            <td>2205</td>
            <td>6</td>
            <td>38.12765957446808</td>
            <td>100.2400559128736</td>
            <td>10.0</td>
            <td>47.0</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>4</td>
            <td>1</td>
            <td>4</td>
            <td>37</td>
        </tr>
        
        <tr>
            <td>voqv2kle</td>
            <td>2023-03-02</td>
            <td>classical</td>
            <td>2199</td>
            <td>6</td>
            <td>46.12820512820513</td>
            <td>173.76659551620173</td>
            <td>13.0</td>
            <td>39.0</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>26</td>
        </tr>
        
        <tr>
            <td>f3u9qa0E</td>
            <td>2023-03-01</td>
            <td>classical</td>
            <td>2192</td>
            <td>7</td>
            <td>30.75438596491228</td>
            <td>37.19332174621807</td>
            <td>15.0</td>
            <td>56.5</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>20</td>
        </tr>
        
        <tr>
            <td>7E7Cwurg</td>
            <td>2023-02-28</td>
            <td>classical</td>
            <td>2194</td>
            <td>-2</td>
            <td>85.28571428571429</td>
            <td>208.4816179762945</td>
            <td>9.0</td>
            <td>21.0</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>2</td>
            <td>0</td>
            <td>3</td>
            <td>42</td>
        </tr>
        
        <tr>
            <td>kDCKTs9M</td>
            <td>2023-02-26</td>
            <td>classical</td>
            <td>2180</td>
            <td>8</td>
            <td>85.42857142857143</td>
            <td>344.3653336112642</td>
            <td>5.0</td>
            <td>21.0</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>39</td>
        </tr>
        
        <tr>
            <td>zbhljwqu</td>
            <td>2023-02-25</td>
            <td>classical</td>
            <td>2182</td>
            <td>-2</td>
            <td>31.03448275862069</td>
            <td>52.38714159068813</td>
            <td>14.0</td>
            <td>57.5</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>0</td>
            <td>2</td>
            <td>4</td>
            <td>26</td>
        </tr>
        
        <tr>
            <td>4GoEZwvb</td>
            <td>2023-02-24</td>
            <td>classical</td>
            <td>2170</td>
            <td>12</td>
            <td>38.297872340425535</td>
            <td>37.44437854785103</td>
            <td>24.0</td>
            <td>46.5</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>15</td>
        </tr>
        
        <tr>
            <td>czy9q0vA</td>
            <td>2023-02-23</td>
            <td>classical</td>
            <td>2161</td>
            <td>9</td>
            <td>45.0</td>
            <td>61.77013841655206</td>
            <td>18.5</td>
            <td>40.0</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>s2FRrSTE</td>
            <td>2023-01-15</td>
            <td>classical</td>
            <td>2170</td>
            <td>-9</td>
            <td>25.0</td>
            <td>34.25679170292773</td>
            <td>15.0</td>
            <td>72.5</td>
            <td>1800+0</td>
            <td>alexboy14</td>
            <td>3</td>
            <td>3</td>
            <td>8</td>
            <td>44</td>
        </tr>
        
        <tr>
            <td>7VL1GvOd</td>
            <td>2023-03-20</td>
            <td>classical</td>
            <td>2243</td>
            <td>12</td>
            <td>54.54545454545455</td>
            <td>127.16085992757624</td>
            <td>17.0</td>
            <td>32.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>11</td>
        </tr>
        
        <tr>
            <td>H0K9OVCj</td>
            <td>2023-03-20</td>
            <td>classical</td>
            <td>2230</td>
            <td>13</td>
            <td>72.0</td>
            <td>209.3611234207536</td>
            <td>14.0</td>
            <td>25.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>40</td>
        </tr>
        
        <tr>
            <td>DaHy1lUN</td>
            <td>2023-03-16</td>
            <td>classical</td>
            <td>2219</td>
            <td>15</td>
            <td>56.25</td>
            <td>110.10250905406288</td>
            <td>19.5</td>
            <td>32.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>20</td>
        </tr>
        
        <tr>
            <td>AUQ6trnG</td>
            <td>2023-03-16</td>
            <td>classical</td>
            <td>2210</td>
            <td>9</td>
            <td>57.935483870967744</td>
            <td>160.70207568040829</td>
            <td>14.0</td>
            <td>30.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
            <td>47</td>
        </tr>
        
        <tr>
            <td>YuncA6Db</td>
            <td>2023-03-15</td>
            <td>classical</td>
            <td>2199</td>
            <td>11</td>
            <td>78.26086956521739</td>
            <td>331.38277058821586</td>
            <td>4.0</td>
            <td>23.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>15</td>
        </tr>
        
        <tr>
            <td>7UroSWct</td>
            <td>2023-03-15</td>
            <td>classical</td>
            <td>2179</td>
            <td>8</td>
            <td>94.73684210526316</td>
            <td>235.7683613668438</td>
            <td>39.0</td>
            <td>19.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>12</td>
        </tr>
        
        <tr>
            <td>cGxEDbQn</td>
            <td>2023-03-15</td>
            <td>classical</td>
            <td>2169</td>
            <td>10</td>
            <td>69.23076923076923</td>
            <td>244.72501171916764</td>
            <td>14.5</td>
            <td>25.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>11</td>
        </tr>
        
        <tr>
            <td>i3kcmnm4</td>
            <td>2023-03-15</td>
            <td>classical</td>
            <td>2154</td>
            <td>15</td>
            <td>44.025</td>
            <td>201.30194826429275</td>
            <td>6.5</td>
            <td>39.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>11</td>
        </tr>
        
        <tr>
            <td>fX8Tci3f</td>
            <td>2023-03-15</td>
            <td>classical</td>
            <td>2174</td>
            <td>-20</td>
            <td>72.0</td>
            <td>312.0328187867424</td>
            <td>4.0</td>
            <td>25.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td>90</td>
        </tr>
        
        <tr>
            <td>xSXanZ54</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>2211</td>
            <td>12</td>
            <td>46.15384615384615</td>
            <td>77.83629713619327</td>
            <td>21.0</td>
            <td>39.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>sIFttFRn</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>2229</td>
            <td>22</td>
            <td>59.53333333333333</td>
            <td>185.142419654588</td>
            <td>10.0</td>
            <td>29.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>25</td>
        </tr>
        
        <tr>
            <td>YKnUSGAf</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>2252</td>
            <td>-23</td>
            <td>81.81818181818181</td>
            <td>324.8722317191002</td>
            <td>5.5</td>
            <td>22.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>50</td>
        </tr>
        
        <tr>
            <td>XY2YctEj</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>2204</td>
            <td>32</td>
            <td>32.72727272727273</td>
            <td>99.6547594165987</td>
            <td>5.0</td>
            <td>55.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>1</td>
            <td>5</td>
            <td>24</td>
        </tr>
        
        <tr>
            <td>61j4MGGs</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>2199</td>
            <td>-15</td>
            <td>36.21739130434783</td>
            <td>76.18881380961675</td>
            <td>13.5</td>
            <td>46.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>10</td>
        </tr>
        
        <tr>
            <td>yIilw8TD</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2185</td>
            <td>27</td>
            <td>64.28571428571429</td>
            <td>257.46148909564505</td>
            <td>4.5</td>
            <td>28.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>0AMEf5rN</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2151</td>
            <td>34</td>
            <td>94.57894736842104</td>
            <td>258.62497046159405</td>
            <td>10.0</td>
            <td>19.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>16</td>
        </tr>
        
        <tr>
            <td>CU32VAyS</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2074</td>
            <td>66</td>
            <td>93.3157894736842</td>
            <td>349.98933106018484</td>
            <td>4.0</td>
            <td>19.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>18</td>
        </tr>
        
        <tr>
            <td>bZdJ5VlP</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2007</td>
            <td>67</td>
            <td>75.0</td>
            <td>304.89725045223565</td>
            <td>6.0</td>
            <td>23.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>26</td>
        </tr>
        
        <tr>
            <td>EaPK9ULB</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>1960</td>
            <td>47</td>
            <td>69.1923076923077</td>
            <td>323.7981350294049</td>
            <td>2.0</td>
            <td>26.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>25</td>
        </tr>
        
        <tr>
            <td>X5Bx71vE</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>1862</td>
            <td>98</td>
            <td>105.88235294117646</td>
            <td>336.7019772043033</td>
            <td>14.0</td>
            <td>17.0</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>18</td>
        </tr>
        
        <tr>
            <td>mhJXQ19j</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>1750</td>
            <td>112</td>
            <td>163.63636363636363</td>
            <td>413.1570849683013</td>
            <td>9.0</td>
            <td>10.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>24</td>
        </tr>
        
        <tr>
            <td>S21eKRpl</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>1500</td>
            <td>250</td>
            <td>120.0</td>
            <td>341.94599963542004</td>
            <td>25.0</td>
            <td>15.5</td>
            <td>1800+0</td>
            <td>sohambeest</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>25</td>
        </tr>
        
        <tr>
            <td>42kCZh8z</td>
            <td>2023-03-21</td>
            <td>classical</td>
            <td>2219</td>
            <td>-9</td>
            <td>47.36842105263158</td>
            <td>87.20044092495705</td>
            <td>24.0</td>
            <td>38.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>1</td>
            <td>8</td>
            <td>35</td>
        </tr>
        
        <tr>
            <td>JFQnJwfK</td>
            <td>2023-03-21</td>
            <td>classical</td>
            <td>2204</td>
            <td>15</td>
            <td>60.0</td>
            <td>84.66679790016076</td>
            <td>25.5</td>
            <td>30.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>Y1vm9ya8</td>
            <td>2023-03-20</td>
            <td>classical</td>
            <td>2176</td>
            <td>10</td>
            <td>47.36842105263158</td>
            <td>227.43829944712843</td>
            <td>5.0</td>
            <td>38.5</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td>31</td>
        </tr>
        
        <tr>
            <td>8HnB8mZY</td>
            <td>2023-03-19</td>
            <td>classical</td>
            <td>2185</td>
            <td>-9</td>
            <td>51.39393939393939</td>
            <td>147.1780903066056</td>
            <td>18.0</td>
            <td>33.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>0</td>
            <td>5</td>
            <td>32</td>
        </tr>
        
        <tr>
            <td>u29tu1hX</td>
            <td>2023-03-19</td>
            <td>classical</td>
            <td>2198</td>
            <td>-13</td>
            <td>56.25</td>
            <td>124.93773449202608</td>
            <td>13.5</td>
            <td>32.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>49</td>
        </tr>
        
        <tr>
            <td>inR11piT</td>
            <td>2023-03-19</td>
            <td>classical</td>
            <td>2190</td>
            <td>8</td>
            <td>62.06896551724138</td>
            <td>175.7425489732623</td>
            <td>15.0</td>
            <td>29.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>tKi9zXLM</td>
            <td>2023-03-19</td>
            <td>classical</td>
            <td>2180</td>
            <td>10</td>
            <td>57.096774193548384</td>
            <td>95.69048047799896</td>
            <td>36.0</td>
            <td>30.5</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>29</td>
        </tr>
        
        <tr>
            <td>2jrRqLgh</td>
            <td>2023-03-19</td>
            <td>classical</td>
            <td>2165</td>
            <td>15</td>
            <td>81.81818181818181</td>
            <td>278.2553824299535</td>
            <td>7.0</td>
            <td>21.5</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>aGmLz7Bn</td>
            <td>2023-03-19</td>
            <td>classical</td>
            <td>2148</td>
            <td>17</td>
            <td>54.54545454545455</td>
            <td>67.27964747371472</td>
            <td>16.0</td>
            <td>33.5</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>40</td>
        </tr>
        
        <tr>
            <td>Zb6PBhoU</td>
            <td>2023-03-18</td>
            <td>classical</td>
            <td>2139</td>
            <td>9</td>
            <td>56.25</td>
            <td>199.50360272436183</td>
            <td>9.0</td>
            <td>32.5</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>1MopXfWY</td>
            <td>2023-03-18</td>
            <td>classical</td>
            <td>2127</td>
            <td>12</td>
            <td>51.42857142857143</td>
            <td>123.9240056795836</td>
            <td>18.0</td>
            <td>34.5</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>15</td>
        </tr>
        
        <tr>
            <td>yPNLVwFN</td>
            <td>2023-03-18</td>
            <td>classical</td>
            <td>2123</td>
            <td>-21</td>
            <td>33.333333333333336</td>
            <td>82.04041461151711</td>
            <td>12.0</td>
            <td>54.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>37</td>
        </tr>
        
        <tr>
            <td>tmW3NWAY</td>
            <td>2023-03-18</td>
            <td>classical</td>
            <td>2110</td>
            <td>13</td>
            <td>81.81818181818181</td>
            <td>332.04047348637766</td>
            <td>6.5</td>
            <td>22.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>31</td>
        </tr>
        
        <tr>
            <td>HYoep7Qk</td>
            <td>2023-03-18</td>
            <td>classical</td>
            <td>2097</td>
            <td>13</td>
            <td>30.0</td>
            <td>49.60040322416744</td>
            <td>11.0</td>
            <td>60.5</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>3</td>
            <td>1</td>
            <td>2</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>WiNrBR3D</td>
            <td>2023-03-17</td>
            <td>classical</td>
            <td>2025</td>
            <td>13</td>
            <td>50.0</td>
            <td>115.8567122689824</td>
            <td>20.0</td>
            <td>36.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>30</td>
        </tr>
        
        <tr>
            <td>Ir6qki5Q</td>
            <td>2023-03-17</td>
            <td>classical</td>
            <td>2022</td>
            <td>34</td>
            <td>42.85714285714285</td>
            <td>33.95204701632347</td>
            <td>29.5</td>
            <td>42.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>34</td>
        </tr>
        
        <tr>
            <td>6DWu3yiq</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>1937</td>
            <td>51</td>
            <td>60.0</td>
            <td>176.38499558257973</td>
            <td>8.5</td>
            <td>30.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>24</td>
        </tr>
        
        <tr>
            <td>iOcm2OpI</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>1895</td>
            <td>42</td>
            <td>66.66666666666667</td>
            <td>281.8575947241864</td>
            <td>7.0</td>
            <td>27.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>9</td>
        </tr>
        
        <tr>
            <td>vant4jLW</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>1756</td>
            <td>84</td>
            <td>42.85714285714285</td>
            <td>89.47959901260052</td>
            <td>21.0</td>
            <td>42.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>25</td>
        </tr>
        
        <tr>
            <td>zmHC2AHC</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>1652</td>
            <td>104</td>
            <td>43.90243902439025</td>
            <td>197.0812392697487</td>
            <td>7.0</td>
            <td>41.0</td>
            <td>1800+0</td>
            <td>tremblinghandpeq</td>
            <td>1</td>
            <td>0</td>
            <td>4</td>
            <td>27</td>
        </tr>
        
        <tr>
            <td>sP9dvJVW</td>
            <td>2023-03-09</td>
            <td>classical</td>
            <td>2185</td>
            <td>14</td>
            <td>42.80952380952381</td>
            <td>79.20474916474032</td>
            <td>12.0</td>
            <td>41.5</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>0</td>
            <td>2</td>
            <td>5</td>
            <td>35</td>
        </tr>
        
        <tr>
            <td>sA5llhMO</td>
            <td>2023-02-11</td>
            <td>classical</td>
            <td>2163</td>
            <td>-14</td>
            <td>29.73333333333333</td>
            <td>88.5586183772584</td>
            <td>12.5</td>
            <td>60.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>3</td>
            <td>5</td>
            <td>7</td>
            <td>86</td>
        </tr>
        
        <tr>
            <td>h8tcCDFR</td>
            <td>2023-02-09</td>
            <td>classical</td>
            <td>2161</td>
            <td>2</td>
            <td>46.76315789473684</td>
            <td>181.53460366241416</td>
            <td>7.0</td>
            <td>38.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>10</td>
        </tr>
        
        <tr>
            <td>QNZTX8hK</td>
            <td>2023-02-09</td>
            <td>classical</td>
            <td>2169</td>
            <td>-8</td>
            <td>52.94117647058823</td>
            <td>95.05074223074702</td>
            <td>9.0</td>
            <td>34.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>0</td>
            <td>2</td>
            <td>5</td>
            <td>49</td>
        </tr>
        
        <tr>
            <td>IjSM9ziL</td>
            <td>2023-02-08</td>
            <td>classical</td>
            <td>2150</td>
            <td>19</td>
            <td>90.0</td>
            <td>229.1335854910842</td>
            <td>33.5</td>
            <td>20.5</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>37</td>
        </tr>
        
        <tr>
            <td>1XVGGVFE</td>
            <td>2023-02-02</td>
            <td>classical</td>
            <td>2138</td>
            <td>-14</td>
            <td>66.53846153846153</td>
            <td>193.49164775638067</td>
            <td>18.0</td>
            <td>26.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>1</td>
            <td>0</td>
            <td>5</td>
            <td>51</td>
        </tr>
        
        <tr>
            <td>p1cTZ867</td>
            <td>2023-01-26</td>
            <td>classical</td>
            <td>2153</td>
            <td>-15</td>
            <td>40.35714285714285</td>
            <td>137.90521614302986</td>
            <td>9.5</td>
            <td>42.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>3</td>
            <td>1</td>
            <td>4</td>
            <td>57</td>
        </tr>
        
        <tr>
            <td>BHuZSaoz</td>
            <td>2023-01-26</td>
            <td>classical</td>
            <td>2144</td>
            <td>9</td>
            <td>60.0</td>
            <td>214.7936994730836</td>
            <td>14.0</td>
            <td>30.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>21</td>
        </tr>
        
        <tr>
            <td>vDFTlJPL</td>
            <td>2023-01-21</td>
            <td>classical</td>
            <td>2160</td>
            <td>11</td>
            <td>50.14705882352941</td>
            <td>129.41863952327486</td>
            <td>11.5</td>
            <td>34.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>19</td>
        </tr>
        
        <tr>
            <td>RFkJk1Cu</td>
            <td>2023-01-18</td>
            <td>classical</td>
            <td>2170</td>
            <td>-19</td>
            <td>51.42857142857143</td>
            <td>68.02574542639225</td>
            <td>23.0</td>
            <td>35.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>0</td>
            <td>2</td>
            <td>5</td>
            <td>54</td>
        </tr>
        
        <tr>
            <td>fYdkCFhd</td>
            <td>2023-01-12</td>
            <td>classical</td>
            <td>2157</td>
            <td>13</td>
            <td>105.88235294117646</td>
            <td>273.4597254684631</td>
            <td>35.0</td>
            <td>17.0</td>
            <td>1800+0</td>
            <td>abdrahman-sameh</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>23</td>
        </tr>
        
        <tr>
            <td>i3TXqxp9</td>
            <td>2023-03-16</td>
            <td>classical</td>
            <td>2187</td>
            <td>16</td>
            <td>16.9126213592233</td>
            <td>33.09594959411564</td>
            <td>7.0</td>
            <td>103.5</td>
            <td>1200+10</td>
            <td>sherifabdulrahman</td>
            <td>2</td>
            <td>0</td>
            <td>8</td>
            <td>30</td>
        </tr>
        
        <tr>
            <td>Zr764gLS</td>
            <td>2023-03-16</td>
            <td>classical</td>
            <td>2179</td>
            <td>8</td>
            <td>35.734693877551024</td>
            <td>91.91939137429368</td>
            <td>9.0</td>
            <td>48.5</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>4</td>
            <td>1</td>
            <td>2</td>
            <td>41</td>
        </tr>
        
        <tr>
            <td>Izv8hmqK</td>
            <td>2023-03-14</td>
            <td>classical</td>
            <td>2175</td>
            <td>4</td>
            <td>38.255319148936174</td>
            <td>59.92281137238544</td>
            <td>20.0</td>
            <td>46.5</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>24</td>
        </tr>
        
        <tr>
            <td>ZPU8SgfW</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2195</td>
            <td>-20</td>
            <td>29.563636363636363</td>
            <td>83.32581475724481</td>
            <td>8.0</td>
            <td>55.0</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
            <td>37</td>
        </tr>
        
        <tr>
            <td>EFpLUhRv</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2186</td>
            <td>9</td>
            <td>50.0</td>
            <td>71.50058274820796</td>
            <td>16.0</td>
            <td>35.5</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>2</td>
            <td>1</td>
            <td>5</td>
            <td>52</td>
        </tr>
        
        <tr>
            <td>vVEyL8ea</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2201</td>
            <td>-15</td>
            <td>34.32692307692308</td>
            <td>161.3805489606484</td>
            <td>4.5</td>
            <td>52.5</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>2</td>
            <td>3</td>
            <td>2</td>
            <td>47</td>
        </tr>
        
        <tr>
            <td>5yvsQv3o</td>
            <td>2023-03-13</td>
            <td>classical</td>
            <td>2191</td>
            <td>10</td>
            <td>47.36842105263158</td>
            <td>110.69907550905543</td>
            <td>13.0</td>
            <td>38.0</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>0</td>
            <td>3</td>
            <td>1</td>
            <td>37</td>
        </tr>
        
        <tr>
            <td>hRaAJ0xV</td>
            <td>2023-03-12</td>
            <td>classical</td>
            <td>2174</td>
            <td>17</td>
            <td>38.84782608695652</td>
            <td>109.8821438576458</td>
            <td>13.5</td>
            <td>46.0</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>tFPS9nBL</td>
            <td>2023-03-09</td>
            <td>classical</td>
            <td>2164</td>
            <td>10</td>
            <td>69.23076923076923</td>
            <td>138.00649585946408</td>
            <td>28.0</td>
            <td>25.5</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>22</td>
        </tr>
        
        <tr>
            <td>ZhcmSUkb</td>
            <td>2023-03-02</td>
            <td>classical</td>
            <td>2144</td>
            <td>10</td>
            <td>57.0</td>
            <td>229.91360696284735</td>
            <td>13.5</td>
            <td>30.0</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
            <td>41</td>
        </tr>
        
        <tr>
            <td>kF63iypW</td>
            <td>2023-03-02</td>
            <td>classical</td>
            <td>2120</td>
            <td>24</td>
            <td>50.0</td>
            <td>129.69172851205448</td>
            <td>15.5</td>
            <td>35.5</td>
            <td>1800+0</td>
            <td>sherifabdulrahman</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>16</td>
        </tr>
        
    </table>

</body>

</html>