<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lichess leaderboart</title>
    <link rel="stylesheet" type="text/css" href="liderboart_style.css">
</head>
<body>
    <h2>Lishess liderboart</h2>
    <table style="width:100%" border-collapse: collapse>
        <tr>
            <th> game_id </th>
            <th> date </th>
            <th> game_speed </th>
            <th> rating </th>
            <th> rating_diff </th>
            <th> clocks_mean </th>
            <th> clocks_std </th>
            <th> clocks_median </th>
            <th> move_count </th>
            <th> time_control </th>
            <th> user_id </th>
            <th> mistake </th>
            <th> blunder </th>
            <th> inaccuracy </th>
            <th> acpl </th>
            <th> levene_p_value_median </th>
            <th> correlation_coefficient </th>
        <tr>

        
        <tr>
            <td>oDwxFiS6</td>
            <td>2023-06-03-00-59-31</td>
            <td>classical</td>
            <td>2230</td>
            <td>-7</td>
            <td>26.29</td>
            <td>50.98</td>
            <td>8.0</td>
            <td>48</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>11</td>
            <td>0.16</td>
            <td>0.42</td>
        </tr>
        
        <tr>
            <td>M8mAkMpe</td>
            <td>2023-06-02-22-29-52</td>
            <td>classical</td>
            <td>2216</td>
            <td>14</td>
            <td>12.67</td>
            <td>16.05</td>
            <td>9.0</td>
            <td>38</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>13</td>
            <td>0.01</td>
            <td>0.6</td>
        </tr>
        
        <tr>
            <td>2fCMkxdi</td>
            <td>2023-05-30-23-40-07</td>
            <td>classical</td>
            <td>2204</td>
            <td>8</td>
            <td>29.74</td>
            <td>44.64</td>
            <td>13.0</td>
            <td>34</td>
            <td>25+10</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>31</td>
            <td>0.17</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>GoEF3izt</td>
            <td>2023-05-30-22-07-08</td>
            <td>classical</td>
            <td>2190</td>
            <td>14</td>
            <td>46.52</td>
            <td>57.08</td>
            <td>21.5</td>
            <td>40</td>
            <td>30+30</td>
            <td>aguiladelsur</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
            <td>35</td>
            <td>0.01</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>W4drZdeF</td>
            <td>2023-05-30-01-50-57</td>
            <td>classical</td>
            <td>2173</td>
            <td>17</td>
            <td>20.58</td>
            <td>29.18</td>
            <td>7.5</td>
            <td>38</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
            <td>41</td>
            <td>0.09</td>
            <td>0.59</td>
        </tr>
        
        <tr>
            <td>jlpuFd4L</td>
            <td>2023-05-30-00-24-44</td>
            <td>classical</td>
            <td>2163</td>
            <td>10</td>
            <td>84.49</td>
            <td>177.68</td>
            <td>21.0</td>
            <td>35</td>
            <td>90+30</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>19</td>
            <td>0.0</td>
            <td>0.5</td>
        </tr>
        
        <tr>
            <td>dMSij7xk</td>
            <td>2023-05-28-02-08-36</td>
            <td>classical</td>
            <td>2153</td>
            <td>10</td>
            <td>58.74</td>
            <td>90.0</td>
            <td>26.0</td>
            <td>68</td>
            <td>60+30</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
            <td>16</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>yb2e9dRG</td>
            <td>2023-05-27-21-40-28</td>
            <td>classical</td>
            <td>2147</td>
            <td>6</td>
            <td>22.24</td>
            <td>31.95</td>
            <td>9.0</td>
            <td>38</td>
            <td>25+15</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>1</td>
            <td>5</td>
            <td>38</td>
            <td>0.12</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>NZviMpeS</td>
            <td>2023-05-26-22-44-02</td>
            <td>classical</td>
            <td>2131</td>
            <td>16</td>
            <td>45.55</td>
            <td>64.01</td>
            <td>25.0</td>
            <td>32</td>
            <td>25+5</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>12</td>
            <td>0.01</td>
            <td>0.54</td>
        </tr>
        
        <tr>
            <td>tHjib86T</td>
            <td>2023-05-26-18-56-36</td>
            <td>classical</td>
            <td>2117</td>
            <td>14</td>
            <td>28.71</td>
            <td>124.44</td>
            <td>4.5</td>
            <td>42</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>31</td>
            <td>0.26</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>uCjYUC6J</td>
            <td>2023-05-26-01-52-27</td>
            <td>classical</td>
            <td>2125</td>
            <td>-8</td>
            <td>23.82</td>
            <td>26.58</td>
            <td>12.5</td>
            <td>34</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>1</td>
            <td>7</td>
            <td>40</td>
            <td>0.09</td>
            <td>0.18</td>
        </tr>
        
        <tr>
            <td>G79DL1C3</td>
            <td>2023-05-24-23-32-08</td>
            <td>classical</td>
            <td>2109</td>
            <td>16</td>
            <td>31.82</td>
            <td>45.34</td>
            <td>9.0</td>
            <td>34</td>
            <td>20+10</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>19</td>
            <td>0.03</td>
            <td>0.46</td>
        </tr>
        
        <tr>
            <td>IJyML2iF</td>
            <td>2023-05-23-03-29-06</td>
            <td>classical</td>
            <td>2086</td>
            <td>10</td>
            <td>53.35</td>
            <td>82.6</td>
            <td>14.5</td>
            <td>34</td>
            <td>30+15</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>14</td>
            <td>0.0</td>
            <td>0.3</td>
        </tr>
        
        <tr>
            <td>ABV9UUp4</td>
            <td>2023-05-23-01-48-00</td>
            <td>classical</td>
            <td>2076</td>
            <td>10</td>
            <td>22.59</td>
            <td>38.64</td>
            <td>12.0</td>
            <td>56</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>8</td>
            <td>0.14</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>mg0avO4J</td>
            <td>2023-05-22-01-50-23</td>
            <td>classical</td>
            <td>2040</td>
            <td>20</td>
            <td>86.93</td>
            <td>119.72</td>
            <td>22.0</td>
            <td>41</td>
            <td>90+30</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>5</td>
            <td>24</td>
            <td>0.0</td>
            <td>0.57</td>
        </tr>
        
        <tr>
            <td>XuMgQ5QJ</td>
            <td>2023-05-19-23-12-39</td>
            <td>classical</td>
            <td>2021</td>
            <td>19</td>
            <td>33.29</td>
            <td>48.38</td>
            <td>16.5</td>
            <td>28</td>
            <td>15+15</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
            <td>22</td>
            <td>0.15</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>tLjhqyFb</td>
            <td>2023-05-18-22-39-08</td>
            <td>classical</td>
            <td>1999</td>
            <td>22</td>
            <td>49.83</td>
            <td>66.19</td>
            <td>13.0</td>
            <td>28</td>
            <td>30+10</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>18</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>yWmR5mup</td>
            <td>2023-05-17-17-17-53</td>
            <td>classical</td>
            <td>2005</td>
            <td>-6</td>
            <td>5.27</td>
            <td>5.67</td>
            <td>3.5</td>
            <td>26</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>5</td>
            <td>31</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>evK4gadq</td>
            <td>2023-05-17-03-05-16</td>
            <td>classical</td>
            <td>2014</td>
            <td>-9</td>
            <td>22.8</td>
            <td>44.6</td>
            <td>5.0</td>
            <td>49</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>16</td>
            <td>0.14</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>l1bEX57Z</td>
            <td>2023-05-16-22-45-01</td>
            <td>classical</td>
            <td>1991</td>
            <td>23</td>
            <td>50.32</td>
            <td>70.57</td>
            <td>24.5</td>
            <td>28</td>
            <td>45+45</td>
            <td>aguiladelsur</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>25</td>
            <td>0.0</td>
            <td>0.43</td>
        </tr>
        
        <tr>
            <td>XJggewmh</td>
            <td>2023-05-16-04-34-33</td>
            <td>classical</td>
            <td>1961</td>
            <td>30</td>
            <td>39.12</td>
            <td>44.75</td>
            <td>25.0</td>
            <td>42</td>
            <td>45+0</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>11</td>
            <td>0.1</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>WQ9qF8HN</td>
            <td>2023-05-13-02-37-03</td>
            <td>classical</td>
            <td>1956</td>
            <td>-20</td>
            <td>28.45</td>
            <td>44.39</td>
            <td>9.0</td>
            <td>29</td>
            <td>15+15</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>2</td>
            <td>5</td>
            <td>52</td>
            <td>0.12</td>
            <td>0.73</td>
        </tr>
        
        <tr>
            <td>DRxNdwCs</td>
            <td>2023-05-13-00-17-28</td>
            <td>classical</td>
            <td>1915</td>
            <td>41</td>
            <td>67.83</td>
            <td>112.58</td>
            <td>19.0</td>
            <td>29</td>
            <td>90+30</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>15</td>
            <td>0.0</td>
            <td>0.42</td>
        </tr>
        
        <tr>
            <td>ii5eQ6Pj</td>
            <td>2023-05-11-17-28-41</td>
            <td>classical</td>
            <td>1931</td>
            <td>-16</td>
            <td>6.34</td>
            <td>7.41</td>
            <td>5.0</td>
            <td>35</td>
            <td>15+15</td>
            <td>aguiladelsur</td>
            <td>3</td>
            <td>2</td>
            <td>11</td>
            <td>72</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>Nj8z7fkF</td>
            <td>2023-05-10-18-21-57</td>
            <td>classical</td>
            <td>1918</td>
            <td>-17</td>
            <td>24.32</td>
            <td>28.86</td>
            <td>10.0</td>
            <td>44</td>
            <td>25+15</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>1</td>
            <td>5</td>
            <td>42</td>
            <td>0.07</td>
            <td>0.61</td>
        </tr>
        
        <tr>
            <td>Ufuk9srO</td>
            <td>2023-05-09-02-33-53</td>
            <td>classical</td>
            <td>1872</td>
            <td>46</td>
            <td>43.21</td>
            <td>82.5</td>
            <td>9.0</td>
            <td>32</td>
            <td>30+30</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>21</td>
            <td>0.01</td>
            <td>0.78</td>
        </tr>
        
        <tr>
            <td>5liucFMD</td>
            <td>2023-05-08-01-14-17</td>
            <td>classical</td>
            <td>1733</td>
            <td>66</td>
            <td>14.82</td>
            <td>13.25</td>
            <td>10.0</td>
            <td>33</td>
            <td>30+0</td>
            <td>aguiladelsur</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>26</td>
            <td>0.01</td>
            <td>0.54</td>
        </tr>
        
        <tr>
            <td>4Mr1m59M</td>
            <td>2023-05-07-23-10-40</td>
            <td>classical</td>
            <td>1647</td>
            <td>86</td>
            <td>15.18</td>
            <td>12.58</td>
            <td>11.0</td>
            <td>40</td>
            <td>15+15</td>
            <td>aguiladelsur</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>19</td>
            <td>0.0</td>
            <td>0.41</td>
        </tr>
        
        <tr>
            <td>ZkPtzeGr</td>
            <td>2023-05-06-03-40-47</td>
            <td>classical</td>
            <td>1558</td>
            <td>140</td>
            <td>27.66</td>
            <td>43.11</td>
            <td>10.0</td>
            <td>30</td>
            <td>25+0</td>
            <td>aguiladelsur</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>26</td>
            <td>0.14</td>
            <td>0.0</td>
        </tr>
        
        <tr>
            <td>4vx9TArB</td>
            <td>2023-05-06-00-44-29</td>
            <td>classical</td>
            <td>1468</td>
            <td>-78</td>
            <td>43.12</td>
            <td>27.47</td>
            <td>38.5</td>
            <td>26</td>
            <td>25+10</td>
            <td>aguiladelsur</td>
            <td>2</td>
            <td>6</td>
            <td>2</td>
            <td>116</td>
            <td>0.12</td>
            <td>0.07</td>
        </tr>
        
    </table>

</body>

</html>