[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
berserk = "*"
python-dotenv = "*"
pathlib = "*"
pandas = "*"
datetime = "*"
requests-oauthlib = "*"
"plotly.express" = "*"
numpy = "*"
dash = "==2.8.1"

[dev-packages]

[requires]
python_version = "3.11"
